{% extends 'base.html.twig' %} {% block h1 %}Modification d'une annonce{% endblock %} {% block title %}Modification d'une annonce{% endblock %} {% block body %} {% block header%}



{# <div aria-label="breadcrumb">
    <ol class="breadcrumb mt-0">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item "><a href="{{ path('adverts') }}">Annonces</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{ path('advert', { id : advert.id}) }}">Votre Annonce</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Modifier votre Annonce</a></li>
    </ol>
</div> #}

<!-- slogan -->
<div class="jumbotron">

    <h2>Veuillez modifier l'annonce</h2>
    <p class="soustext">Modifiez ce qui vous plait </p>


</div>
{{ form(form) }}
{# {% endblock %} #}
 {# si success n'est pas défini #}
 {# {% if success is not defined %} #}
  {# formulaire #}
{# <div class="row">
    <div class="col-10 offset-1">
        <form action="{{ path('editadvert', {id: advert.id}) }}" method="POST">



            <div class="form-group">
                <label for="exampleFormControlInput1">Titre :</label>
                <input value="{{advert.title}}" type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Titre de l'annonce">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description :</label>
                <textarea name="content" placeholder="Décrivez brièvement votre projet" class="form-control" id="exampleFormControlTextarea1" rows="3">{{advert.content}}</textarea>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="contractType">Type de Poste</label>
                    </div>
                    <select name="contractType" class="custom-select" id="contractType">
                                    <option selected value="cdi">CDI</option>
                                    <option value="cdd">CDD</option>
                                    <option value="intérim">Intérim</option>
                                    <option value="freelance">Freelance</option>
                            </select>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block  col-6">Valider</a>
                </div>
        </form>
    </div>
    </div> #}


{#     
    {% endif %} #}
    {# message d'erreur #}
    {# {% if errors is defined %} #}
    
        {# {% for error in errors %}
        <div class="alert alert-danger" role="alert">
                {{ error }}
        </div>
            
        {% endfor %}

    {% endif %} #}
    
    {# message de succes #}
    
    {# {% if success is defined %}
    
       <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
       <a href="{{ path('adverts') }}" class="btn btn-primary">Retour aux annonces</a>
    {% endif %}

<script src='https://www.google.com/recaptcha/api.js'></script>




{# {% block javascript %}  #}
{% endblock %}
{% endblock %}
